.signButton {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 210px;
  height: 55px;

  border-radius: 50px;
  cursor: pointer;
}

.signInButton {
  composes: signButton;
  margin-bottom: 5%;
  
  background: #f2994a;
}
.signInButtonText {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;

  /* identical to box height */
  letter-spacing: 0.11em;

  /* Gray 6 */
  color: #f2f2f2;
}

.signUpButton {
  composes: signButton;
  margin-top: 5%;

  border: 1px solid #f2994a;
  box-sizing: border-box;
}
.signUpButtonText {
  font-style: normal;
  font-weight: 550;
  font-size: 15px;
  line-height: 15px;

  /* identical to box height */
  letter-spacing: 0.11em;

  /* Orange */
  color: #f2994a;
}
