/* mobile adaptation */

@media screen and (max-width: 450px) {
  .header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding-top: 2%;
  }

  .logo {
    display: block;
    text-align: center;

    /* Test styles */
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    /* identical to box height */
    letter-spacing: 0.11em;

    /* Orange */
    color: #f2994a;

    width: 100px;
  }

  .logo > span {
    color: #2f80ed;
  }

  .sidebarButton {
    display: flex;
    align-items: center;

    height: 50px;
    width: 50px;
  }

  .sidebarIcon {
      color: #2F80ED;
  }
}
