/* mobile adaptation */

@media screen and (max-width: 450px) {
  .container {
    display: grid;
    grid-template-rows: 10% 80% 10%;
    grid-template-areas: "header" "main" "footer";

    width: 100%;
    height: 100%;
  }
  .main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 15%;
    margin-left: 15%;
    margin-right: 15%;
  }
  .footer {
    grid-area: footer;
  }
  /* Main blocks */
  .pageName {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 24px;

    letter-spacing: 0.11em;

    color: #2f80ed;
  }
  .inputFields {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
  }
  .inputField {
    margin-top: 5%;
  }
  .underline {
    height: 1px;
    width: 100%;

    background: #2f80ed;
    border: 1px solid #2f80ed;

    margin-top: 5px;
  }
  .spacer {
    margin-top: 4%;
    margin-bottom: 4%;
  }
  /* reCaptcha */
  .reCaptcha {
    width: 170px;
    height: 100px;
    align-self: center;
    /* transform: scale(0.77); */
    /* transform-origin: 0 0; */
  }
  .buttons {
    display: flex;
    flex-direction: column;

    margin-top: 5%;
  }
}
